<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.infinitycrop">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.google.android.things.permission.MANAGE_INPUT_DRIVERS" />
    <uses-permission android:name="com.google.android.things.permission.USE_PERIPHERAL_IO" />
    <!--Permisos Qr-->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera"></uses-feature>
    <uses-feature android:name="android.hardware.camera.autofocus"></uses-feature>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:theme="@style/AppThemeHome"
        >

        <activity android:name=".MainActivity">
        </activity>
        <service android:name="com.example.infinitycrop.ui.service.ServicioMqtt" />
        <activity android:name="com.example.infinitycrop.ui.LoadAnimations.IntroductoryActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.profile.settings.AboutInfinityCrap">

        </activity>
        <activity android:name=".ui.profile.settings.HelpProfile">

        </activity>
        <activity android:name=".ui.list_machine.MainActivityMachineList"></activity>
        <activity android:name=".ui.list_machine.AddMachine"></activity>
        <activity android:name=".ui.logmail.RegisterActivity"></activity>
        <activity android:name=".ui.logmail.LoginActivity"></activity>
        <activity android:name=".ui.list_machine.CaptureAct"></activity>
        <activity android:name="com.example.infinitycrop.ui.login.LogActivity"></activity>
        <activity android:name=".ui.LoadAnimations.IntroductoryActivity2"></activity>
        <activity android:name=".ui.LoadAnimations.LogprimeraActivity"></activity>




        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            tools:replace="android:value"
            android:value="@string/facebook_app_id"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />


    </application>

</manifest>